{{#> layout/base_document title="Cold Email" }}
<div class="email-wrapper">
  
  <div class="email-header">
    <strong>Subject:</strong> {{subjectLine}}
  </div>

  <div class="email-body">
    <div class="salutation">Hi {{#if recipientName}}{{recipientName}}{{else}}there{{/if}},</div>

    {{#each paragraphs}}
      <p>{{this}}</p>
    {{/each}}

    <div class="closing-block">
      <div class="closing-line">Best regards,</div>
      <div class="signature">{{senderName}}</div>
      {{#if senderTitle}}<div class="signature-title">{{senderTitle}}</div>{{/if}}
      <div class="signature-contact">
        {{#if senderEmail}}<a href="mailto:{{senderEmail}}">{{senderEmail}}</a>{{/if}}
        {{#if senderLinkedin}} &middot; <a href="{{senderLinkedin}}">LinkedIn</a>{{/if}}
      </div>
    </div>
  </div>

</div>
{{/layout/base_document}}
