<div class="edu-block avoid-break-inside">
  <div class="edu-header">
    <div class="edu-primary">
      <span class="edu-degree">{{degree}}</span>
    </div>
    <div class="edu-meta">
      <span class="edu-year">{{year}}</span>
    </div>
  </div>
  <div class="edu-details">
    <span class="edu-institution">{{institution}}</span>
    {{#if gpa}}
      <span class="edu-separator">&middot;</span>
      <span class="edu-gpa">GPA: {{gpa}}</span>
    {{/if}}
  </div>
  
  {{#if details.length}}
    <ul class="edu-bullets">
      {{#each details}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}
</div>
