<div class="exp-block avoid-break-inside">
  <div class="exp-header">
    <div class="exp-primary">
      <span class="exp-title">{{title}}</span>
      {{#if company}}
        <span class="exp-separator">|</span>
        <span class="exp-company">{{company}}</span>
      {{/if}}
    </div>
    <div class="exp-meta">
      {{#if location}}<span class="exp-location">{{location}}</span>{{/if}}
      <span class="exp-date">{{startDate}} &ndash; {{#if endDate}}{{endDate}}{{else}}Present{{/if}}</span>
    </div>
  </div>
  
  {{#if description}}
    <p class="exp-description">{{description}}</p>
  {{/if}}

  {{#if bullets.length}}
    <ul class="exp-bullets">
      {{#each bullets}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}
</div>
