{{#> layout/base_document title=title }}
<div class="proposal-wrapper">

  <header class="proposal-cover">
    <div class="proposal-meta">Prepared For: {{clientName}}</div>
    <h1 class="proposal-title">{{title}}</h1>
    <div class="proposal-subtitle">{{subtitle}}</div>
    
    <div class="proposal-footer">
      <div class="author-info">
        <strong>Prepared By:</strong><br>
        {{authorName}}<br>
        {{authorTitle}}
      </div>
      <div class="date-info">
        <strong>Date:</strong><br>
        {{date}}
      </div>
    </div>
  </header>

  <div class="page-break-before"></div>

  <div class="proposal-body">
    {{#each sections}}
      <section class="proposal-section avoid-break-inside">
        <h2 class="section-heading">{{this.heading}}</h2>
        <div class="section-content">
          {{#each this.paragraphs}}
            <p>{{this}}</p>
          {{/each}}
          
          {{#if this.bullets.length}}
            <ul class="proposal-bullets">
              {{#each this.bullets}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          {{/if}}
        </div>
      </section>
    {{/each}}
  </div>

  {{#if pricing.length}}
  <div class="page-break-before"></div>
  <section class="proposal-section avoid-break-inside">
    <h2 class="section-heading">Investment Overview</h2>
    <table class="pricing-table">
      <thead>
        <tr>
          <th>Deliverable</th>
          <th class="text-right">Investment</th>
        </tr>
      </thead>
      <tbody>
        {{#each pricing}}
        <tr>
          <td>
            <strong>{{this.item}}</strong>
            {{#if this.description}}<div class="item-desc">{{this.description}}</div>{{/if}}
          </td>
          <td class="text-right">{{this.cost}}</td>
        </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <td><strong>Total Estimated Investment</strong></td>
          <td class="text-right"><strong>{{totalInvestment}}</strong></td>
        </tr>
      </tfoot>
    </table>
  </section>
  {{/if}}

</div>
{{/layout/base_document}}
